---
layout: layout-base.njk
lang: ga
title: Alan Gallagher - Baile Digiteach
description: Baile digiteach Alan Gallagher: ?bhar gairmi?il, n?ta? oibre, agus sraitheanna roghnacha n?os doimhne.
og_image: https://alanwpgallagher.com/assets/img/alan-oxford-don.png
og_url: https://alanwpgallagher.com/index-ga.html
canonical: https://alanwpgallagher.com/index-ga.html
hreflang_en: https://alanwpgallagher.com/index.html
hreflang_ga: https://alanwpgallagher.com/index-ga.html
site_name: Alan Gallagher - Baile Digiteach
job_title: Saineola? Riarach?in & Oibr?ochta?
show_landing_modal: true
header_variant: home
footer_variant: inner
---
<div class="wrap">
<details id="vocation" class="panel doorway" open>
      <summary class="panel__summary">
        <h2>Gairm &amp; Obair</h2>
      </summary>
      <div class="panel__body">
        <h3>Gairm Ghairmi?il &amp; Obair</h3>
        <p>
          M? t? t? anseo mar fhost?ir n? mar chliant, t? na pr?omh?eolas faoi mo shaol gairmi?il sa roghchl?r Gn?omhartha
          ag barr na l?imhe deise (ar fh?n p?ca, t? an roghchl?r Gn?omhartha sa nasclean?int uachtarach).
        </p>

        <details class="details">
          <summary>Cad a dh?anaim</summary>
          <p class="small">
            I mo shaol oibre, agus go deimhin i mo shaol, is ginear?la? d?rithe ar ch?rais m? a dh?anann speisialt?ireacht ar ord,
            lean?nachas agus soil?ireacht a thabhairt do ch?rais dhaonna ioml?na - go h?irithe nuair at? siad ina bhf?saigh, neamhfhoirmi?il n? leochaileach.
          </p>
          <ul class="links">
            <li><a href="information-ga.html#methodologies">Modhanna agus Cur Chuige</a></li>
            <li><a href="slowtechnology-ga.html">Teicneola?ocht Mhalla</a></li>
          </ul>
        </details>

        <details class="details">
          <summary>Dialann Oibre</summary>
          <p class="small">
            N?ta? gearra: modhanna, sampla? beaga, agus p?osa? a l?ir?onn conas a th?im i ngleic le c?rais agus athr?
            (gan m?rthaispe?ntas agus gan mharga?ocht).
          </p>
          <ul class="links">
            <li><a href="workjournal-ga.html#prologue">R?amhr?</a></li>
            <li><a href="workjournal-ga.html#september-2025">Smaointe na m?osa seo</a></li>
          </ul>
        </details>

        <h3>Gairm Phearsanta &amp; Obair</h3>

        <details class="details">
          <summary>Comhlathas WayLight</summary>
          <p class="small">
            Is feals?nacht oibre agus saoil ? WayLight - simpl?ocht, ?seal-torann, agus c?rais a chosna?onn aird.
            N? "app" ?. Bealach oibre.
          </p>
          <ul class="links">
            <li><a href="https://waylight-atlantic.netlify.app/" target="_blank" rel="noopener noreferrer">waylight-atlantic.co.uk</a></li>
            <li><span class="coming-soon">WayLight Companion (ag teacht go luath)</span></li>
          </ul>
        </details>
      </div>
    </details>Ye

    <details id="formation" class="panel doorway">
      <summary class="panel__summary">
        <h2>Foirmi?</h2>
      </summary>
      <div class="panel__body">
        <details class="details">
          <summary>Foirmi? Gairmi?il</summary>
          <p class="small">
            D'fhoghlaim m? formh?r a bhfuil ar eolas agam faoin obair n? ? oili?int ach ? bheith ag faire ar dhaoine eile ag teip agus ag ?ir? leo ar an d?igh ch?anna. Ar dt?s, cheap m? gurbh ionann inni?lacht agus muin?n; n?os d?ana? thuig m? gur minic a d'iompair na hoibrithe ba chi?ine an t-ualach is m?. Mh?in obair riarach?in dom go gcuimhn?onn c?rais ar ruda? a dh?anann daoine dearmad orthu, agus go m?ada?onn earr?id? beaga. Th?inig m? chun luach a chur ar n?s imeachta?n? mar mhaorlathas ach mar chine?l c?raim?bealach chun iad si?d a thagann i do dhiaidh a chosaint ? iarmhairt? an deifir.
          </p>
        </details>

        <details class="details">
          <summary>Foirmi? Mor?lta</summary>
          <p class="small">
            N? moth?ch?n ? an choinsias ach d?mh, agus cos?il le haon d?mh caithfear ? a oili?int. Mh?nlaigh an teaghlach mo cheannsa ar dt?s, ansin an creideamh, agus ar deireadh an teip. T? ruda? d?anta agam a bhfuil aif?ala orm f?thu, agus bh? me?chan na ngn?omhartha sin n?os teagasca? n? aon seanm?ir. Is ? a d'fhoghlaim m? n? nach mbaineann mor?ltacht le h?ag?ir a sheachaint ach le freagracht a ghlacadh uirthi nuair a thagann s?. N?l an saol scr?daithe compordach. Ach ?ir?onn m?chompord, m? thugtar aire cheart d?, ina chine?l comp?is.
          </p>
        </details>

        <details class="details">
          <summary>Foirmi? Intleacht?il</summary>
          <p class="small">
            N? bhfuair m? oideachas san chiall fhoirmi?il go dt? go raibh m? r?as?nta aosta, agus faoin am sin bh? an n?s agam cheana f?in l?amh go mall agus athl?amh go minic. Thug an ollscoil teanga dom do ruda? a bh? intuigthe agam cheana, ach n?os t?bhachta? f?s mh?in s? dom teorainneacha na gliocais. Is uirlis ? an intleacht, n? ceann scr?be. Bhuail m? le daoine geal-intinneach nach raibh in ann gn?omh? go cr?onna, agus daoine simpl? a raibh a mbreithi?nas gan locht. N? h? an m?id at? ar eolas ag duine at? t?bhachtach ach conas a choinn?onn s? an t-eolas sin?le humhla?ocht, agus toilteanas ceart? a ghlacadh.
          </p>
        </details>

        <details class="details">
          <summary>Foirmi? Praitici?il</summary>
          <p class="small">
            T? cine?l eolais ann nach dtagann ach tr?d na l?mha: deisi?, t?g?il, cothabh?il. D'fh?s m? suas i measc daoine a dheisigh ruda? seachas iad a athshol?thar, agus d'fh?g an geilleagar iarrachta sin a lorg. M?ineann obair phraitici?il foighne agus comhr?ir. M?ineann s? duit nach r?it?tear formh?r na bhfadhbanna le forneart ach le tuiscint ar conas a oireann ruda? le ch?ile. N? thaitn?onn teib?ocht liom nach f?idir a th?st?il in aghaidh na r?altachta ?bhartha. Is minic a rinne m? an smaointeoireacht is fearr agam agus rud ?igin eile ? dh?anamh agam?rud n?os moille, rud le toradh infheicthe.
          </p>
        </details>

        <details class="details">
          <summary>Foirmi? Pearsanta</summary>
          <p class="small">
            N?l an f?in seasta. M?nla?onn n?s, c?ins?, agus br? mall an ama ?. Bh? m? i mo dhaoine ?ags?la thar na blianta, agus n? raibh gach duine acu inmholta. Is ? a fhanann seasmhach n? treoshu?omh ?irithe?i dtreo oird, i dtreo ci?nais, i dtreo d?lseachta do ruda? beaga. N? bhaineann foirmi? pearsanta le f?in-fheabhs? sa chiall nua-aimseartha; baineann s? le h?ir? i do dhuine ar f?idir brath air. T? s? sin n?os deacra n? mar a sh?lf?. ?il?onn s? n?os minice a r? n? t?, agus glacadh leis go mb?onn f?s dofheicthe go minic, fi? duit f?in.
          </p>
        </details>

        <details class="details">
          <summary>An Turgnamh Caitliceach</summary>
          <ul class="links">
            <li><a href="https://www.thecatholicexperiment.co.uk" target="_blank" rel="noopener noreferrer">www.thecatholicexperiment.co.uk</a></li>
            <li><span class="coming-soon">Iontr?il 2 (ag teacht go luath)</span></li>
          </ul>
        </details>

                <details class="details">
          <summary>N?ta? ar "Ora et labora"</summary>
          <ul class="links">
            <li><a href="Oraetlabora-ga.html">N?ta? riail saoil</a></li>
          </ul>
        </details>

        <details class="details">
          <summary>Staid?ar & L?itheoireacht Spiorad?lta</summary>
          <p class="small">
            Pleananna agus n?ta? do l?amha laeth?la Scriopt?ir, an Caiticeasma, agus l?itheoireacht spiorad?lta.
          </p>
          <ul class="links">
            <li><a href="readings-ga.html">L?amha Laeth?la an Bh?obla</a></li>
            <li><a href="catechism-ga.html">Plean Caiticeasma</a></li>
            <li><a href="spiritual-reading-ga.html">Plean L?itheoireachta Spiorad?lta</a></li>
          </ul>
        </details>
      </div>
    </details>

            <details id="household" class="panel doorway">
      <summary class="panel__summary">
        <h2>Teaghlach &amp; Sti?radh</h2>
      </summary>
      <div class="panel__body">
        <details class="details">
          <summary>Bainist?ocht Chan?nach an Teaghlaigh - Cur Chuige Mainistreach</summary>
          <ul class="links">
            <li><a href="canonicalhouseholdmanagement-ga.html">Forbhreathn?</a></li>
          </ul>
        </details>

        <details class="details">
          <summary>An Saol Maith - Gaird?n na Mainistreach (ar bhuis?ad)</summary>
          <ul class="links">
            <li><a href="monasterygarden-ga.html">N?ta? gaird?n</a></li>
          </ul>
        </details>

        <details class="details">
          <summary>Cistin &amp; Bia</summary>
          <p class="small">
            Oidis shimpl? agus pleananna bia seachtaini?la le haghaidh rithim t? n?os ci?ine - bunaithe ar sh?as?racht thraidisi?nta Bhriotanach agus ?ireannach.
          </p>
          <ul class="links">
            <li><a href="recipes-ga.html">Oidis</a></li>
            <li><a href="foodplan-ga.html">Plean Bia</a></li>
          </ul>
        </details>
      </div>
    </details>

    <details id="community" class="panel doorway">
      <summary class="panel__summary">
        <h2>Pobal &amp; Caidreamh</h2>
      </summary>
      <div class="panel__body">
        <details class="details">
          <summary>Saol Par?iste</summary>
          <ul class="links">
            <li><a href="stmaryonthequay-ga.html">Naomh Muire ar an gC? - Bristol</a></li>
            <li><a href="stvincents-ga.html">Naomh Uinseann - Bristol</a></li>
            <li><a href="stteresaofthechild-ga.html">Naomh Treasa an Linbh - Bristol</a></li>
          </ul>
        </details>

        <details class="details">
          <summary>Obair Dheonach</summary>
          <ul class="links">
            <li><a href="volunteering-ga.html">Tionscadail agus seirbh?s</a></li>
          </ul>
        </details>

        <details class="details">
          <summary>Tionscadail Phobail</summary>
          <ul class="links">
            <li><a href="communityprojects-ga.html">Tionscnaimh ?iti?la</a></li>
          </ul>
        </details>
      </div>
    </details>

    <details id="rest" class="panel doorway">
      <summary class="panel__summary">
        <h2>Sos &amp; Athnuachan</h2>
      </summary>
      <div class="panel__body">
        <details class="details">
          <summary>Oilithreachta?</summary>
          <ul class="links">
            <li><a href="localpilgrimages-ga.html">Oilithreachta? ?iti?la</a></li>
            <li><a href="pilgrimagesabroad-ga.html">Oilithreachta? thar lear</a></li>
          </ul>
        </details>

        <details class="details">
          <summary>Saoire &amp; Laethanta Amach</summary>
          <ul class="links">
            <li><a href="holidays-ga.html">Saoire</a></li>
            <li><a href="daysout-ga.html">Laethanta amach</a></li>
          </ul>
        </details>

        <details class="details">
          <summary>Si?l?id?</summary>
          <ul class="links">
            <li><a href="hikes-ga.html">Cos?in agus n?ta?</a></li>
          </ul>
        </details>

        <details class="details">
          <summary>L?amh &amp; Sc?ile?in</summary>
          <p class="small">
            Liosta? agus n?ta? do leabhair, scann?in, agus siamsa?ocht chi?in.
          </p>
          <ul class="links">
            <li><a href="books-ga.html">Liosta Leabhar</a></li>
            <li><a href="films-ga.html">Scann?in &amp; Teilif?s</a></li>
            <li><a href="entertainment-ga.html">Siamsa?ocht</a></li>
          </ul>
        </details>
      </div>
    </details>

    <div class="divider" aria-hidden="true"></div>

    <details id="contact" class="panel doorway doorway__indent">
      <summary class="panel__summary panel__summary--button">
        <h2>Teagmh?il</h2>
      </summary>
      <div class="panel__body">
        <ul class="links">
          <li><a href="privacy-ga.html">Pr?obh?ideachas</a></li>
        </ul>

        <!-- Optional: Netlify form (works only on Netlify) -->
        <form class="form" name="contact" method="POST" action="https://formspree.io/f/mgvgrgvb" data-netlify="true">
          <input type="hidden" name="form-name" value="contact" />
          <label>
            Ainm
            <input name="name" type="text" autocomplete="name" required />
          </label>
          <label>
            R?omhphost
            <input name="email" type="email" autocomplete="email" required />
          </label>
          <label>
            Teachtaireacht
            <textarea name="message" rows="5" required></textarea>
          </label>
          <button type="submit">Seol</button>
        </form>
      </div>
    </details>
</div>
